header{
    background-color: white;
    background-size: auto 160px;
    height: 150px;
    
    
}
.header img {
    float: left;
    width: 120px;
    height: 120px;
    margin-left: 20px;
    vertical-align: text-top;
    padding-top: 10px;
  }
  
  .header h1 {
    position: relative;
    top: 18px;
    left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
  }

  body{
    background-color: gray;
  }

  main{
    box-sizing: border-box;
    max-width: 800px;
    margin: auto;
  }
.Task{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 5px;
}
.todo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 1px;
    margin-left: 40px;
    display: inline-block;
}

.editorial{
    background-color: #45ABEA;
    border: 5px solid #45ABEA;
    border-radius: 12px;

}