header{
    background-color: white;
    background-size: auto 160px;
    height: 150px;
    margin-bottom: 60px;
    
}
/* Logo */
.header img {
    float: left;
    width: 120px;
    height: 120px;
    margin-left: 20px;
    vertical-align: text-top;
    padding-top: 10px;
  }
  
  .header h1 {
    position: relative;
    top: 18px;
    left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
  }

  body{
    background-color: whitesmoke;
  }

  main{
    background-color: #FFFFFF;
    border: 10px solid white;
    border-radius: 15px;
    box-sizing: border-box;
    max-width: 800px;
    margin: auto;
  }

  #butt1{
    background-color: #47ADF1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    margin-top: 15px;
    margin-left: 50px;
  }

  #butt2{
    background-color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #C5CCD1;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #C5CCD1;
    margin-top: 15px;
  }

  hr{
    border: 2px solid whitesmoke;
  }
  /* 1st Section Properties */
.Task{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 5px;
}
.todo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: lighter;
    border: 5px;
    margin-left: 15px;
    display: inline-block;
}

.check{
    border: 2px solid green;
    color: green;
    border-radius: 50%;
    height: 18px;
    width: 18px;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    margin-left: 15px;
    margin-top: 20px;
}

.cross{
    border: 2px solid red;
    color: red;
    border-radius: 50%;
    height: 18px;
    width: 18px;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    margin-left: 15px;
    margin-top: 20px;
}

.editorial{
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    background-color: #45ABEA;
    border: 5px solid #45ABEA;
    border-radius: 12px;
    margin-left: 3px;
}
/* 2nd Section properties */
#goals{
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    background-color: #9C72E4;
    border: 5px solid #9C72E4;
    border-radius: 12px;
    margin-left: 3px;
}

.recruiting{
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    background-color: #64C0A9;
    border: 5px solid #64C0A9;
    border-radius: 12px;
    margin-left: 3px;
}

#mobile{
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    background-color: #F29E33;
    border: 5px solid #F29E33;
    border-radius: 12px;
    margin-left: 3px;
}
/* 3rd Section Properties */
#website{
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    background-color: #D863A1;
    border: 5px solid #D863A1;
    border-radius: 12px;
    margin-left: 3px;
}

#sales{
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    background-color: #B0C926;
    border: 5px solid #B0C926;
    border-radius: 12px;
    margin-left: 3px;
}

footer{
    background-color: #FFFFFF;
    border: 10px solid white;
    border-radius: 15px;
    box-sizing: border-box;
    max-width: 800px;
    margin: auto;
}